NEXT_PUBLIC_BASE_URL_MAIN=http://localhost:9000/api
NEXT_PUBLIC_BASE_URL_JOBS=http://localhost:9025/api
NEXT_PUBLIC_BASE_URL_CONFERENCES=http://localhost:9025/api
NEXT_PUBLIC_BASE_URL_NEWS=http://localhost:9025/api
NEXT_PUBLIC_BASE_URL_HACKATHONS=http://localhost:9025/api
NEXT_PUBLIC_BASE_URL_CLUBS=http://localhost:9025/api
NEXT_PUBLIC_TEAM_API_URL=https://sic-console-api.srminsider.in/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CASHFREE_MODE=sandbox
NEXT_PUBLIC_BASE_URL_ROOMMATE=http://localhost:9001/api
